    /* For right now these are the default styles i will link a CSS file next week*/
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    /* makes the logo stay to the left and center the items in the header*/
    header {
        background-color:darkcyan;
        color: white;
        padding: 10px;
        display: flex;
        align-items: center;
    }
    
    h1 {
        margin: 0; /* Remove default margin for h1 */
        text-align: center;
        flex-grow: 1; /* Allow the Title to grow and take available space */
    }

    nav {
        background-color:darkslategrey;
        color: #fff;
        padding: 10px;
        width: 20%;
        float: left;
    }

    nav a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 8px;
        margin-bottom: 5px;
        border-bottom: 1px solid #fff;
    }

    section {
        float: left;
        padding: 20px;
        width: 60%;
    }

    footer {
        clear: both;
        background-color:darkcyan;
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    /* Slideshow Styles */
    .slideshow-container {
        max-width: 800px;
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
    }