/* These are the body styles. By default they will apply to the whole page unless you create a more specific style. */
body{
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

/* These styles will apply to the h1 tag */
h1{
    color: blue;
    font-size: x-large;
}
/* These styles will apply to the paragraph tag */
p{
    color:rgb(5, 5, 5);
    font-size:large;
    text-align:center;
    /*adding small grey shadow*/
    text-shadow:0 0 5px grey;
}